.categories {
    display: flex;
    flex-basis: 256px;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 2px 5px -2px black;


}

a {
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: 90px;
    text-align: center;
    background-color: darkgray;
    color: cornflowerblue;

}